@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');


*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

header{
	width: 100%;
	margin: auto;
	height: 70vw;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	background-image: url('./assets/hug.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 -100px;
	background-attachment: fixed;
}

svg{
	margin-top: -4px;
	margin-left: 100px;
}

nav {
  display: flex;
  background-color: #4b4b4b;
  justify-content: space-between;
  height: 45px;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
}

nav ul {
  display: flex;
  list-style: none;
  width: 50%;  
  justify-content: space-around;
  letter-spacing: 3px;

}

nav ul li a {
  color: #edebe4;
  text-decoration: none;
  font-size: 0.9em;
  font-family: 'Quicksand';
  }

nav ul li a:hover {
  color:#4fd1bb;
}

.menu-toggle {

  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
   position: absolute;
   width: 44px;
   height: 28px;
   opacity: 0.8;
   left: -7px;
   opacity:0;
   top: -3px;
   z-index: 3;


}
.menu-toggle span {

  display: block;
  width: 28px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s;
  padding-right: 30px;
}

/*hamburger menu*/
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;

}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);

}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;

}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate( -1px, 0);

}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);

}


header h1{
	text-align: left;
	width: 10vw;
	font-size: 6vw;
	margin-top: 100px;
	font-family: 'Quicksand';
	letter-spacing: 15px;
	font-weight: 100;
	margin-left: 100px;
	transition: 3s;
	transform: translateX(-50%);
	color: #ff000000;
}

.about{
	width: 100%;
	background-image: linear-gradient(45deg, #4a4be8 30%,#c8373d);
	height: 500px;
}

.about h1{
	color: ivory;
	  text-align: center;
	  font-family: 'Roboto';
	  font-weight: 300;
	  font-size: 3em;
	  padding-top: 30px;
	  letter-spacing: 15px;
	  width: 400px;
	  margin: auto;
}

.about p {
	width: 70%;
	margin: 20px auto;
	text-align: justify;
  	font-family: 'Quicksand';
  	padding-top: 15px;
  	color: ivory;
  	font-size: 1.5rem;
  	line-height: 3.5rem;
}

.profile{
	width: 100%;
	background-image: url('./assets/space.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 0px -190px;
	height: 663px;
}

.profile h1{
	  color: #262626;
	  text-align: center;
	  font-family: 'Roboto';
	  font-weight: 300;
	  font-size: 3em;
	  padding-top: 30px;
	  letter-spacing: 15px;
	  width: 400px;
	  margin: auto;
}

.cards{
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin: 35px auto;
}

.cards .card{
	width: 200px;
	background-image: linear-gradient(45deg,#4f8a8b 30%,#c8373d);
	background-color: ivory;
	box-shadow: 0px 0px 7px 1px #c8373d;
	border-radius: 10px;
	margin-left: 30px;
	margin-right: 20px;
	margin-top: 20px;
	height: 250px;
	transition: 1s;
}

.cards .img1, .cards .img2, .cards .img3, .cards .img4{
	margin: 15px auto;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-size: cover;
}

.cards .img1{
	background-image: url("./assets/Photo.jpg");
	background-position: 0px -10px;
}

.card h3{
      text-transform: uppercase;
	  text-align: center;
	  font-family: 'Quicksand';
	  padding-top: 15px;
	  color: ivory;
	  font-size: 1rem;
	  font-weight: normal;
}

.card p {
	text-align: center;
	width: 150px;
	margin: auto;
  font-family: 'Quicksand';
  padding-top: 15px;
  color: #212121e3;
  font-size: 1rem;
}

.cards .img2{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-image: url("./assets/Photo2.jpg");
	background-size: cover;
}

.cards .img3{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-image: url("./assets/Photo4.jpeg");
	background-size: cover;
	}

.cards .img4{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-image: url("./assets/Photo3.jpeg");
	background-size: cover;
}

.specialize{
	width: 100%;
	background-image: linear-gradient(45deg, #e84a5f 30%,#c8373d);
	height: 400px;
}

.specialize h1{
	color: ivory;
	  text-align: center;
	  font-family: 'Roboto';
	  font-weight: 300;
	  font-size: 3em;
	  padding-top: 30px;
	  letter-spacing: 15px;
	  width: 100%;
	  margin: auto;
}

.skills{
	display: flex;
	width: 80%;
	margin: 35px auto;
	justify-content: space-around;
	flex-wrap: wrap;
}

.skills .icon1{
	width: 80px;
	height: 80px;
	margin-top: 20px;
	background-image: url('./assets/html.svg');
}

.skills .icon2{
	margin-top: 20px;
	width: 80px;
	height: 80px;
	background-image: url('./assets/css.svg');
}

.skills .icon3{
	margin-top: 20px;
	width: 80px;
	height: 80px;
	background-image: url('./assets/js.svg');
}

.skills .icon4{
	margin-top: 20px;
	width: 80px;
	height: 80px;
	background-image: url('./assets/php.svg');
}

.skills .icon5{
	margin-top: 20px;
	width: 80px;
	height: 80px;
	background-image: url('./assets/react.svg');
	background-size: cover;
}

.skills .icon6{
	margin-top: 20px;
	width: 80px;
	height: 80px;
	background-image: url('./assets/python.svg.png');
	background-size: cover;
}

.skills .icon7{
	margin-top: 20px;
	width: 80px;
	height: 80px;
	background-image: url('./assets/figma.svg');
	background-size: cover;
}

.skills .icon8{
	margin-top: 20px;
	width: 80px;
	height: 80px;
	background-image: url('./assets/adobe.svg');
	background-size: cover;
}

footer{
  background-color: #4b4b4b;
}

footer p{
  margin-top: 0px;
  text-align: justify;
  line-height: 50px;
  font-family: 'Quicksand';
  font-size: 20px;
  text-align: center;
  color: ivory;
}

@media (max-width: 943px){
	header{
		width: 100%;
		height: 650px;
		background-size: cover;
		background-position: -50px 0px;
	}
	header h1{
		font-size: 3.5rem;
		width: 200px;
		margin: 50px auto;
		text-align: center;
	}
	.about{
		margin-top: -10px;
		width: 100%;
		height: 400px;
	}
	.about h1{
		font-size: 2rem;
	}
	.about p{
		font-size: 1.3rem;
		line-height: 2rem;
	}

	.profile{
	width: 100%;
	background-image: url('./assets/space.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: auto;
	height: 663px;
	}

	.cards{
		flex-wrap: wrap;
	}

	.card h3{
      
	  font-size: 0.8rem;
}

	.card p{
		
	  font-size: 0.8rem;
	}

	.cards .card{
		width: 150px;
		height:200px;
	}

	nav ul {
  flex-wrap: wrap;

}

nav ul li a {
  font-size: 0.7em;
  }
}


/*responsive tablet*/
@media (max-width: 768px){
	nav ul {
		width: 50%;
	}
	header{
		width: 100%;
		height: 600px;
		background-size: cover;
		background-position: -50px 0px;
	}
	header h1{
		font-size: 3.5rem;
		width: 200px;
		margin: 50px auto;
		text-align: center;
	}
	.about{
		margin-top: -10px;
		width: 100%;
		height: 550px;
	}
	.about h1{
		font-size: 2rem;
	}
	.about p{
		font-size: 1.5rem;
		line-height: 2rem;
	}

	.profile{
	width: 100%;
	background-image: url('./assets/space.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: auto;
	height: 663px;
	}

	.cards{
		flex-wrap: wrap;
	}

	.card h3{
      
	  font-size: 0.8rem;
}

	.card p{
		
	  font-size: 0.8rem;
	}

	.cards .card{
		width: 150px;
		height:200px;
	}

	nav ul {
  	flex-wrap: wrap;
  	width: 50%;
  	}

nav ul li a {
  font-size: 0.7em;
  }
}


@media (max-width: 576px) {

	nav ul {
	  position:absolute;
	  right: 0;
	  flex-direction: column;
	  top: 0;
	  width: 80%;
	  height: 100vh;
	  align-items: center;
	  justify-content: space-evenly;  
	  background-color: #4b4b4b;
	  z-index: -1;
	  transform: translateX(100%);
	  transition: all 1s;
	  opacity: 0;
	  }

	nav ul.slide {
	    transform: translateX(0);
	    opacity: 1;
	  }

	.menu-toggle {
	    display: flex;
	  }

	  .menu-toggle span {

		  display: block;
		  width: 28px;
		  height: 3px;
		  background-color: white;
		  border-radius: 5px;
		  transition: all 0.5s;
		  margin-right:30px;
		}


	header {
		width: 100%;
		height: 700px;
		background-size: cover;
		background-position: -260px 0px;
		}


	header h1 {
		font-size: 3.5rem;
		width: 200px;
		margin: 50px auto;
		text-align: center;
		}

	.about{
		margin-top: -10px;
		width: 100%;
		height: 550px;
	}
	.about h1{
		font-size: 2rem;
	}
	.about p{
		font-size: 1rem;
		line-height: 2rem;
	}

	.profile{
	width: 100%;
	background-image: url('./assets/space.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: -300px 0px;
	margin: auto;
	height: 663px;
	}

	svg {
	margin-left: 20px;
	}

	.cards {
		flex-wrap: wrap;
	}

	.card h3{
      
	  font-size: 0.8rem;
	}

	.card p {
		
	  font-size: 0.8rem;
	}

	.cards .card {
		width: 150px;
		height:200px;
	}

	.specialize {
		height: 400px;
	}

	.specialize h1{
	color: ivory;
	  text-align: center;
	  font-family: 'Roboto';
	  font-weight: 300;
	  font-size: 2em;
	  padding-top: 30px;
	  letter-spacing: 10px;
	  margin: auto;
}

	

  footer p {
  	font-size: 0.8em;
  }


}


